/vendor
/node_modules
/.env
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/.git
/.github
/tests
Dockerfile
.dockerignore
.gitignore
docker-compose.yml
php.ini
*.log
.phpunit.result.cache
